body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
}

header {
    background-color: #004080;
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    flex: 1;
    text-align: left;
    margin-left: 100px; /* Logo ile sol kenar arasındaki boşluğu artırmak için eklendi */
    margin-right: 250px; /* Logo ile menü arasındaki boşluğu artırmak için ekledik */
}

header .logo h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav {
    flex: 2;
    text-align: right; /* Menü sağa hizalanacak */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; /* Menü elemanları sola hizalanacak */
}

nav ul li {
    margin-left: 20px; /* Menü elemanları arasındaki boşluk */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}
